

<div *ngIf="scoreCard">
    <nav class="navbar sticky-top navbar-expand navbar-dark bg-danger justify-content-end card-nav">
        <button class="btn btn-danger" (click)="goBack()"><i class="fas fa-chevron-left"></i></button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                </li>


                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#cardModal" (click)="setCardHoleValues()">Mark</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/event/leaderboard/{{scoreCard.eventId}}"><i class="fas fa-trophy"></i> Leaderboard</a>
                </li>

            </ul>
        </div>
    </nav>


    <div class="card">
        <nav class="navbar navbar-expand navbar-dark bg-info justify-content-end card-nav">
            <a class="navbar-brand" href="#">{{scoreCard.player.fullName}} ({{scoreCard.player.currentHandicap}})</a>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <!--<a class="nav-link" routerLink="/event/detail/{{event.id}}"><i class="fa fa-users"></i> {{event.playerNames.length}}</a>-->


                    </li>

                    <!--<li class="nav-item">
                        <a routerLink="/event/play/{{event.id}}" *ngIf="userHasJoined(event)" class="nav-link" value="Play">Play</a>

                    </li>-->
                    <li class="nav-item">
                        <!--<p class="nav-link">Handicap: {{scoreCard.player.currentHandicap}}</p>-->
                        <a class="nav-link" (click)="getFrontNine()">Out</a>
                    </li>
                    <li class="nav-item">
                        <!--<p class="nav-link">Handicap: {{scoreCard.player.currentHandicap}}</p>-->
                        <a class="nav-link" (click)="getBackNine()">In</a>
                    </li>
                    <li class="nav-item">
                        <!--<p class="nav-link">Handicap: {{scoreCard.player.currentHandicap}}</p>-->
                        <a class="nav-link" (click)="getScoreCard()">All</a>
                    </li>


                </ul>
            </div>
        </nav>

        <div class="card-header">

        </div>
        <div class="card-body">
            <p>Course: {{scoreCard.courseName}}</p>


            <table class="table table-responsive d-sm-none">
                <thead>
                    <tr>
                        <th>
                            Hole
                        </th>
                        <th>
                            Par
                        </th>
                        <th>
                            Gross
                        </th>
                        <th>
                            Points
                        </th>
                        <!--<th>

                        </th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let score of scoreCard.scores" (click)="getSelectedScore(score)"
                        data-toggle="modal" data-target="#enterScoreModal">
                        <td><strong>{{score.holeNumber}}</strong></td>
                        <td>{{score.par}}</td>
                        <!--<td *ngIf="score.gross < score.par">
                            <p class="badge badge-success">
                                <a class="score-entry" href="" (click)="getSelectedScore(score)"
                                   data-toggle="modal" data-target="#enterScoreModal">
                                    {{score.gross}} <i class="fas fa-plus"></i>
                                </a>
                            </p>
                        </td>
                        <td *ngIf="score.gross == score.par">
                            <p class="badge badge-info">
                                <a class="score-entry" href="" (click)="getSelectedScore(score)"
                                   data-toggle="modal" data-target="#enterScoreModal">
                                    {{score.gross}} <i class="fas fa-plus"></i>
                                </a>
                            </p>
                        </td>
                        <td *ngIf="score.gross > score.par">
                            <p class="badge badge-danger">
                                <a class="score-entry" href="" (click)="getSelectedScore(score)"
                                   data-toggle="modal" data-target="#enterScoreModal">
                                    {{score.gross}} <i class="fas fa-plus"></i>
                                </a>
                            </p>
                        </td>-->

                        <td *ngIf="score.gross < score.par"><p class="badge badge-success">{{score.gross}}</p></td>
                        <td *ngIf="score.gross == score.par"><p class="badge badge-info">{{score.gross}}</p></td>
                        <td *ngIf="score.gross > score.par"><p class="badge badge-danger">{{score.gross}}</p></td>


                        <td *ngIf="score.nett < score.par"><p class="badge badge-success">{{score.points}}</p></td>
                        <td *ngIf="score.nett == score.par"><p class="badge badge-info">{{score.points}}</p></td>
                        <td *ngIf="score.nett > score.par"><p class="badge badge-danger">{{score.points}}</p></td>

                        <!--<td>
                            <a href="" class="btn btn-sm btn-success mb-10" (click)="getSelectedScore(score)"
                               data-toggle="modal" data-target="#enterScoreModal">{{score.holeNumber}}<i class="fas fa-plus"></i></a>
                        </td>-->

                    </tr>
                </tbody>

            </table>






            <table class="table table-responsive d-none d-sm-block">
                <thead>
                    <tr>
                        <th>
                            Hole
                        </th>
                        <th>
                            Par
                        </th>
                        <th>
                            SI
                        </th>
                        <th>
                            Gross
                        </th>
                        <th>
                            Nett
                        </th>
                        <th>
                            Points
                        </th>
                        <!--<th>

                        </th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let score of scoreCard.scores" (click)="getSelectedScore(score)"
                        data-toggle="modal" data-target="#enterScoreModal">
                        <td><strong>{{score.holeNumber}}</strong></td>
                        <td>{{score.par}}</td>
                        <td>{{score.index}}</td>

                        <td *ngIf="score.gross < score.par"><p class="badge badge-success">{{score.gross}}</p></td>
                        <td *ngIf="score.gross == score.par"><p class="badge badge-info">{{score.gross}}</p></td>
                        <td *ngIf="score.gross > score.par"><p class="badge badge-danger">{{score.gross}}</p></td>



                        <td *ngIf="score.nett < score.par"><p class="badge badge-success">{{score.nett}}</p></td>
                        <td *ngIf="score.nett == score.par"><p class="badge badge-info">{{score.nett}}</p></td>
                        <td *ngIf="score.nett > score.par"><p class="badge badge-danger">{{score.nett}}</p></td>

                        <td *ngIf="score.nett < score.par"><p class="badge badge-success">{{score.points}}</p></td>
                        <td *ngIf="score.nett == score.par"><p class="badge badge-info">{{score.points}}</p></td>
                        <td *ngIf="score.nett > score.par"><p class="badge badge-danger">{{score.points}}</p></td>


                    </tr>
                </tbody>

            </table>










        </div>
    </div>
    <button class="btn btn-danger" (click)="goBack()"><i class="fas fa-chevron-left"></i></button>

</div>



<div *ngIf="scoreCard" class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">


                <div class="modal-header justify-content-center">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    <h4 class="title title-up">{{scoreCard.player.fullName}}'s Card</h4>
                </div>
                <div class="modal-body">
                    <form [formGroup]="updateCardForm" (ngSubmit)="updateCard()" novalidate>

                        <div class="row">
                            <div class="col-2">
                                <h6>1</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="first" [value]="getScoreForHole(1)" class="form-control" placeholder="Add Gross Score for Hole 1" autofocus>
                                <p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>2</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="second" value="{{getScoreForHole(2)}}" class="form-control" placeholder="Add Gross Score for Hole 2" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>3</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="third" value="{{getScoreForHole(3)}}" class="form-control" placeholder="Add Gross Score for Hole 3" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>4</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="fourth" value="{{getScoreForHole(4)}}" class="form-control" placeholder="Add Gross Score for Hole 4" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>5</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="fifth" value="{{getScoreForHole(5)}}" class="form-control" placeholder="Add Gross Score for Hole 5" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>6</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="sixth" value="{{getScoreForHole(6)}}" class="form-control" placeholder="Add Gross Score for Hole 6" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>7</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="seventh" value="{{getScoreForHole(7)}}" class="form-control" placeholder="Add Gross Score for Hole 7" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>8</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="eighth" value="{{getScoreForHole(8)}}" class="form-control" placeholder="Add Gross Score for Hole 8" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>9</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="ninth" value="{{getScoreForHole(9)}}" class="form-control" placeholder="Add Gross Score for Hole 9" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>10</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="tenth" value="{{getScoreForHole(10)}}" class="form-control" placeholder="Add Gross Score for Hole 10" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>11</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="eleventh" value="{{getScoreForHole(11)}}" class="form-control" placeholder="Add Gross Score for Hole 11" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>12</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="twelfth" value="{{getScoreForHole(12)}}" class="form-control" placeholder="Add Gross Score for Hole 12" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>13</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="thirteenth" value="{{getScoreForHole(13)}}" class="form-control" placeholder="Add Gross Score for Hole 13" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>14</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="fourteenth" value="{{getScoreForHole(14)}}" class="form-control" placeholder="Add Gross Score for Hole 14" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>15</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="fifteenth" value="{{getScoreForHole(15)}}" class="form-control" placeholder="Add Gross Score for Hole 15" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>16</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="sixteenth" value="{{getScoreForHole(16)}}" class="form-control" placeholder="Add Gross Score for Hole 16" autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h6>17</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="seventeenth" value="{{getScoreForHole(17)}}" class="form-control" placeholder="Add Gross Score for Hole 17" autofocus>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2">
                                <h6>18</h6>
                            </div>
                            <div class="col-10">
                                <input type="number" formControlName="eighteenth" value="{{getScoreForHole(18)}}" class="form-control" placeholder="Add Gross Score for Hole 18" autofocus>
                            </div>
                        </div>





                        <div class="row">
                            <button type="submit" class="btn btn-success">Add Scorecard</button>

                        </div>

                    </form>


                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->

                </div>

        </div>
    </div>
</div>


<div *ngIf="selectedScore" class="modal fade modal-mini" id="enterScoreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                Enter Score
            </div>
            <div class="modal-body">
                <div>
                    <form [formGroup]="updateScoreForm" (ngSubmit)="updateScore(selectedScore)" novalidate>

                        <div class="form-group">
                            <div class="input-group wd-sm-400 wd-lg-600">
                                <input type="number" formControlName="gross" class="form-control" placeholder="Add Gross Score for Hole {{selectedScore.holeNumber}}" autofocus>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="justify-content-center">
                                <button type="submit" class="btn btn-success">Update Score</button>
                            </div>
                        </div>
                    </form>




                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-link btn-neutral">Back</button>
                <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Close</button>-->
            </div>
        </div>
    </div>
</div>



<!--<div class="container" *ngIf="selectedScore">
    <div class="modal" tabindex="-1" role="dialog" id="enterScoreModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enter Score</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <form [formGroup]="updateScoreForm" (ngSubmit)="updateScore(selectedScore)" novalidate>

                            <div class="form-group">
                                <div class="input-group wd-sm-400 wd-lg-600">
                                    <input type="number" formControlName="gross" value="{{selectedScore.gross}}" class="form-control" placeholder="Add Gross Score for Hole {{selectedScore.holeNumber}}" autofocus>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Update Score</button>
                            </div>
                        </form>




                    </div>


                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>-->
